<span style="color:blue">Бронников Максим Андреевич</span>

*max120199@gmail.com*

<h1><center>Решение тестового задания</center></h1>

## Основные инструменты

Установим основные инструменты для выполнения этого задания. Не выполняйте, если они уже установленны.

In [1]:
! pip install pandas

Requirement already satisfied: pandas in /home/max/anaconda3/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/max/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /home/max/anaconda3/lib/python3.7/site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in /home/max/anaconda3/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /home/max/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

Импорт необходимых инструментов.

In [2]:
import numpy as np
import pandas as pd
import string 
import datetime
from functools import reduce
from operator import itemgetter

----------------

## Задание №1

Получим алфавит с сопоставленным ему порядковым числом.

In [3]:
alphabet = dict()


for i, c in enumerate(string.ascii_uppercase):
    alphabet[c] = i + 1
    
print(alphabet)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

Получим список всех слов файла.

In [4]:
# list of names
names = list()

# get names in form like: "NAME"
with open("data/task1/names.txt") as fin:
    names = fin.read().split(",")
    
# clear names from " simbol
names = list(map(lambda x: x.strip('"'), names))
print(names[:20])

['MARY', 'PATRICIA', 'LINDA', 'BARBARA', 'ELIZABETH', 'JENNIFER', 'MARIA', 'SUSAN', 'MARGARET', 'DOROTHY', 'LISA', 'NANCY', 'KAREN', 'BETTY', 'HELEN', 'SANDRA', 'DONNA', 'CAROL', 'RUTH', 'SHARON']

Стандартный метод *sort()* сортирует строки в лексикографическом порядке.

In [5]:
# sort names
names.sort()
print(names[:20])

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL', 'ABE', 'ABEL', 'ABIGAIL', 'ABRAHAM', 'ABRAM', 'ADA', 'ADAH', 'ADALBERTO', 'ADALINE', 'ADAM', 'ADAN', 'ADDIE', 'ADELA', 'ADELAIDA', 'ADELAIDE']

И, наконец, посчитаем сумму, посчитав для каждого слова произведение его номера в списке с алфавитной суммой слова.

In [6]:
ans = 0

for i, word in enumerate(names):
    num_word = reduce(lambda x, y: x + y, map(lambda a: alphabet[a], word))
    ans += (i + 1) * num_word

print("Ответ:", ans)

Ответ: 871853874

----------------

## Задание №2

Создадим словарь для подсчета количества раз, когда встречается каждый *IP-адрес*, и посчитаем количество встреч соответственно.

In [7]:
counter = dict()

with open("data/task2/hits.txt") as fin:
    for line in fin:
        # <host>\t<ip>\t<page>\n
        ip = line.split("\t")[1]
        # add to counter
        if ip in counter:
            counter[ip] += 1
        else:
            counter[ip] = 1
        
print("Количество различных IP-адресов в файле:", len(counter))

Количество различных IP-адресов в файле: 2000

Отсортируем содержимое словаря в виде пар *(ip, количество)* в отдельный список и выведем первые $5$ значений.

In [8]:
NUM_OF_VALUES = 5

table = sorted(counter.items(), key = itemgetter(1), reverse = True)

for i, p in enumerate(table[:NUM_OF_VALUES]):
    print("Значение №" + str(i + 1) + ":", p[0], "с количеством", p[1], "встреч")

Значение №1: 154.157.157.156 с количеством 1531 встреч
Значение №2: 82.146.232.163 с количеством 1505 встреч
Значение №3: 194.78.107.33 с количеством 1494 встреч
Значение №4: 226.247.119.128 с количеством 1494 встреч
Значение №5: 21.143.243.182 с количеством 1479 встреч

----------------

## Задание №3

### Конвертируем данные

Задание будем выполнять с помощью **pandas**, поэтому будем конвертировать данные из файлов в формат *csv* с помощщью этой функции.

In [9]:
# for example tablename for 'lessons.txt' is 'lessons'
def txt_to_csv(tablename, PATH = "data/task3/"):
    with open(PATH + tablename + ".txt") as fin:
        with open(PATH + tablename + ".csv", "w") as fout:
            for line in fin:
                # we can ignore lines without separator "|"
                if "|" not in line:
                    continue
                # split row by cols
                row = map(lambda x: x.strip(), line.split("|"))
                # write in csv
                fout.write(",".join(row) + "\n")

Конвертируем данные в *csv* и импортируем их в виде *pandas.DataFrame*.

In [10]:
tables = ["lessons", "participants", "quality", "users"]
PATH = "data/task3/"

for t in tables:
    txt_to_csv(t, PATH)
    
lessons = pd.read_csv(PATH + "lessons" + ".csv")
participants = pd.read_csv(PATH + "participants" + ".csv")
quality = pd.read_csv(PATH + "quality" + ".csv")
users = pd.read_csv(PATH + "users" + ".csv")

### Посмотрим на данные

In [11]:
lessons.head()

                                     id  event_id subject       scheduled_time
0  1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys  2020-01-19 12:00:00
1  6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a     51568      it  2020-01-19 13:00:00
2  62e1a078-33de-47c1-99d2-845b1daca56f     52790    hist  2020-01-19 13:00:00
3  00fc6685-f53a-49bb-b960-5e0042fd3852     51341    phys  2020-01-17 12:00:00
4  4cadf623-82e6-422f-a342-acf978302fb2     55048    phys  2020-01-19 14:00:00

In [12]:
participants.head()

   event_id                               user_id
0     38114  e28351f5-4ccb-4549-8647-d43f2b15e7b8
1     38114  4df2832a-1d63-4453-9659-43993fc35996
2     51568  bb1c0bc8-1212-452b-97a0-439d4a2169e2
3     51568  63441abe-c4da-4275-ba26-66f7dbd65dde
4     52790  a1323b68-c82c-429a-8e2c-65597e648c1a

In [13]:
participants.shape

(743, 2)

Демонстрация того, что здесь также присутствуют повторения.

In [14]:
participants[participants.event_id == 38114]

     event_id                               user_id
0       38114  e28351f5-4ccb-4549-8647-d43f2b15e7b8
1       38114  4df2832a-1d63-4453-9659-43993fc35996
213     38114  e28351f5-4ccb-4549-8647-d43f2b15e7b8
214     38114  4df2832a-1d63-4453-9659-43993fc35996

In [15]:
quality.head()

                              lesson_id  tech_quality
0  6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a           5.0
1  62e1a078-33de-47c1-99d2-845b1daca56f           5.0
2  62e1a078-33de-47c1-99d2-845b1daca56f           5.0
3  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0
4  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0

Не все уроки были оценены.

In [16]:
quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesson_id     365 non-null    object
 1   tech_quality  349 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [17]:
users.head()

                                     id   role
0  e28351f5-4ccb-4549-8647-d43f2b15e7b8  pupil
1  4df2832a-1d63-4453-9659-43993fc35996  tutor
2  bb1c0bc8-1212-452b-97a0-439d4a2169e2  pupil
3  63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
4  a1323b68-c82c-429a-8e2c-65597e648c1a  tutor

In [18]:
users.shape[0]

743

При этом таблица имеет множество повторяющихся записей.

In [19]:
users.id.unique().shape[0]

268

### Преобразуем данные

#### Таблица пользователей

Оставим в таблице только *id* учителей.

In [20]:
users = users[users['role'] == "tutor"]
# users.rename(columns={'id': 'user_id'}, inplace=True)
# users.drop("role", axis = 1, inplace=True)

Оставим только уникальные записи и дадим новое имя колонке идентификаторов для более удобного ипользования.

In [21]:
users = pd.DataFrame({'user_id': users['id'].unique()})
users.head()

                                user_id
0  4df2832a-1d63-4453-9659-43993fc35996
1  63441abe-c4da-4275-ba26-66f7dbd65dde
2  a1323b68-c82c-429a-8e2c-65597e648c1a
3  30a19496-bdaf-461c-abbc-2709ae520201
4  43efce48-94b2-4412-857f-223d45969008

In [22]:
users.shape

(65, 1)

#### Таблица уроков

Преобразуем время в специальный формат.

In [23]:
lessons['scheduled_time'] = pd.to_datetime(lessons['scheduled_time'])

В задании требуется расчитывать начало занятий по московскому времени. Преобразуем время из ***UTC*** в московское, добавив $3$ часа к указанному. Этот шаг, скорей всего, излишен, поскольку занятия проходят днем и не начинаются ночью, а в результате необходимо вывести только дату.

In [24]:
lessons['scheduled_time'] += datetime.timedelta(hours = 3)

Как сказано выше, нас интересует только дата, поэтому выделим её в отдельную колонку, а *scheduled_time* удалим.

In [25]:
lessons['day'] = lessons['scheduled_time'].dt.date
lessons.drop("scheduled_time", axis = 1, inplace=True)

Переименнуем колонку *id* для удобства и оставим в таблице только уроки по физике

In [26]:
lessons = lessons[lessons['subject'] == "phys"].reset_index(drop=True)
lessons.rename(columns={'id': 'lesson_id'}, inplace=True)
lessons.head()

                              lesson_id  event_id subject         day
0  1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys  2020-01-19
1  00fc6685-f53a-49bb-b960-5e0042fd3852     51341    phys  2020-01-17
2  4cadf623-82e6-422f-a342-acf978302fb2     55048    phys  2020-01-19
3  e597a79a-3f68-4d15-bc77-c7000bcf8e52     53026    phys  2020-01-19
4  ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17     51645    phys  2020-01-19

#### Таблица оценок

Удалим неоценённые уроки, поскольку их учитывать нет необходимости.

In [27]:
quality = quality[quality['tech_quality'].notna()]
quality.shape[0]

349

Лучше использовать среднюю оценку по уроку вместо одной оценки от каждого пользователя.

In [28]:
quality = quality.groupby("lesson_id")['tech_quality'].mean().reset_index()
quality.head()

                              lesson_id  tech_quality
0  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0
1  01f717d8-baaf-427d-a927-08c79713ae79           3.5
2  024d415a-4543-4e73-88c6-f4609e1bf1ed           4.5
3  03f4f4a8-c60c-41d7-a1cb-17b2d36ee183           5.0
4  056c3d91-dce7-4071-91d3-1de816ee63a3           4.0

#### Связующая таблица

Удалим дубликаты записей.

In [29]:
participants.drop_duplicates(keep='first', inplace=True)
participants.shape

(645, 2)

### Объединения таблиц

**Inner Join** таблицы уроков и оценок  за них. В результате получим только оценённые уроки по физике.

In [30]:
lessons_score = pd.merge(lessons, quality, how="inner", on="lesson_id")
lessons_score.head()

,lesson_id,event_id,subject,day,tech_quality
0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17,5.0
1,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19,5.0
2,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19,5.0
3,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19,5.0
4,7d56b43a-d137-446d-8570-8d7d5ccbaee9,51153,phys,2020-01-20,5.0

In [31]:
lessons_score.shape

(123, 5)

**Inner Join** таблицы идентификаторов учителей с таблицей *participants* позволит получить соответствие уроков с учителями.

In [32]:
teachers_events = pd.merge(participants, users, how="inner", on="user_id")
teachers_events.head()

   event_id                               user_id
0     38114  4df2832a-1d63-4453-9659-43993fc35996
1     38111  4df2832a-1d63-4453-9659-43993fc35996
2     56195  4df2832a-1d63-4453-9659-43993fc35996
3     50880  4df2832a-1d63-4453-9659-43993fc35996
4     51450  4df2832a-1d63-4453-9659-43993fc35996

In [33]:
teachers_events.shape

(329, 2)

**Inner Join** двух полученных таблиц даст нам таблицу, сопоставляющую каждому уроку по физике его учителя и оценку.

In [34]:
main_df = pd.merge(lessons_score, teachers_events, how="inner", on="event_id")
main_df.head()

,lesson_id,event_id,subject,day,tech_quality,user_id
0,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17,5.0,30a19496-bdaf-461c-abbc-2709ae520201
1,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19,5.0,43efce48-94b2-4412-857f-223d45969008
2,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19,5.0,43efce48-94b2-4412-857f-223d45969008
3,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19,5.0,8fe03f08-8581-430c-a590-9888ab36deb3
4,2e1cef67-f1ae-4fe9-b1e1-1c5766d57d69,51645,phys,2020-01-12,5.0,8fe03f08-8581-430c-a590-9888ab36deb3

In [35]:
main_df.shape

(123, 6)

В полученной таблице нам уже не нужны столбцы *subject*, *lesson_id* и *event_id*.

In [36]:
main_df.drop(["lesson_id", "subject", "event_id"], axis=1, inplace=True)
main_df.head()

          day  tech_quality                               user_id
0  2020-01-17           5.0  30a19496-bdaf-461c-abbc-2709ae520201
1  2020-01-19           5.0  43efce48-94b2-4412-857f-223d45969008
2  2020-01-19           5.0  43efce48-94b2-4412-857f-223d45969008
3  2020-01-19           5.0  8fe03f08-8581-430c-a590-9888ab36deb3
4  2020-01-12           5.0  8fe03f08-8581-430c-a590-9888ab36deb3

### Вычисление результата

Найдем среднюю оценку  за урок в каждый из дней для всех учителей.

In [37]:
main_df = main_df.groupby(["user_id", "day"]).tech_quality.mean().reset_index()
main_df.head()

                                user_id         day  tech_quality
0  1c39e78f-6ded-4b2e-83d6-036ca34ecfdc  2020-01-18           5.0
1  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff  2020-01-11           5.0
2  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff  2020-01-12           5.0
3  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff  2020-01-13           5.0
4  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff  2020-01-14           5.0

Получим финальный результат, получив минимальную среднюю оценку для каждого дня и переименовав колонки для заданного формата.

In [38]:
result = main_df.groupby("day").min().reset_index()
result.rename(columns={'tech_quality': 'average_score', 'user_id':'tutor_id'}, inplace=True)
result

          day                              tutor_id  average_score
0  2020-01-11  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff            4.5
1  2020-01-12  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff            4.9
2  2020-01-13  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff            5.0
3  2020-01-14  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff            4.0
4  2020-01-15  603b8641-c6f6-4d89-ac89-88e50d45aa0d            5.0
5  2020-01-16  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff            4.0
6  2020-01-17  30a19496-bdaf-461c-abbc-2709ae520201            4.5
7  2020-01-18  1c39e78f-6ded-4b2e-83d6-036ca34ecfdc            4.0
8  2020-01-19  43efce48-94b2-4412-857f-223d45969008            4.5
9  2020-01-20  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff            4.5

---------------

<h5><center>Выполнил Бронников Максим</center></h5>
<h5><center>13.08.2020</center></h5>